<h3>Product Create</h3>

<form #form='ngForm' (ngSubmit)="saveProduct(form)">
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input required minlength="5" maxlength="50" [(ngModel)]="model.name"  #name="ngModel" type="text" name="name" id="name" class="form-control">
      <div class="text-danger mt-1" *ngIf="name.invalid && name.touched">Urun ismi en az 5 karakter olamlidir</div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input required [(ngModel)]="model.price"  type="number" min="0" max="1000000" name="price" #price="ngModel" id="price" class="form-control">
      <div class="text-danger mt-1" *ngIf="price.invalid && price.touched">Urun fiyati icin negatif deger girmeyiniz.</div>
    </div>

    <div class="mb-3">
      <label for="imgUrl" class="form-label">ImageUrl</label>
      <input [(ngModel)]="model.imgUrl"   type="text" name="imgUrl" id="imgUrl" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <ckeditor [(ngModel)]="model.description"  name="description" id="description"></ckeditor>

    </div>

    <div class="form-check mb-3">
      <input  type="checkbox" name="isActive" id="isActive" class="form-check-input">
      <label [(ngModel)]="model.isActive"   for="isActive" class="form-check-label">isActive</label>

    </div>

    <div class="mb-3">
      <label for="categoryId" class="form-label">category</label>
      <select [(ngModel)]="model.categoryId"   name="categoryId" id="categoryId" class="form-select">
        <option value="0">Kategori</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary" >
      Save Product
    </button>

</form>
